.navbar {
  background-color: #8830df;
  border: 2px solid #8830df;
  padding-top: 10px;
  /* color: white; */
}

.nav {
  font-size: 18px;
}

/* foooter*/

.panel-footer {
  background: #8830df;
  color: white;
  /* opacity: 0.7; */
  font-size: 14px;
  margin-top: 0px;
}

#social i {
  color: white;
  padding-right: 15px;
  font-size: 18px;
  padding-top: 10px;
}
#social a {
  color: white;
  font-size: 20px;
  font-family: 'Itim', cursive;
}
#love i {
  color: red;
}

#love {
  margin-top: 20px;
}

#company {
  position: relative;
  left: 30px;
  padding-top: 22px;
}
#company p {
  font-family: 'Itim', cursive;
  padding-left: 20px;
  font-size: 15px;
  margin-top: -15px;
  margin-left: -8px;
}
#company img {
  height: 190px;
  padding-bottom: 20px;
}
span {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
  color: white;
  text-decoration: underline;
}
#content {
  padding-top: 40px;
  color: white;
  padding-left: 50px;
}
#social {
  padding-top: 40px;
  padding-left: 50px;
}
#info {
  padding-top: 40px;
  padding-left: 30px;
  font-family: 'Itim', cursive;
}
#content a {
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Itim', cursive;
}

#info i,
#content i {
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* footer end */

/* =======CTA START============ */

.row-flex {
  display: flex;
}
@media (max-width: 690px) {
  .row-flex {
    display: block;
  }
}
.cta .row {
  background-color: grey;
}
.cta {
  margin-bottom: 20px;
}

.cta .emergency {
  background: whitesmoke;
  border: 2px solid rgb(197, 197, 197);
  margin: 0.5px;
}

.cta .emergency a {
  color: grey;
  font-size: 30px;
}

.cta .emergency p {
  padding-top: 20px;
}

.cta .top-doctor {
  background: whitesmoke;
  height: inherit;
  border: 2px solid rgb(197, 197, 197);
  margin: 0.5px;
}

.cta .working-time {
  background: whitesmoke;
  height: absolute;
  border: 2px solid rgb(197, 197, 197);
  margin: 0.5px;
}

.cta .item {
  padding: 20px 30px;
}

.cta .item i,
.cta .item h2,
.cta .item p {
  color: grey;
}

.cta .item i {
  font-size: 30px;
  margin-bottom: 20px;
}
/* div.top-doctor.item.col-sm-4{
      height:100%;
  } */
.cta .item h2 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 25px;
  margin-bottom: 30px;
}

.cta .item p {
  font-size: 16px;
  line-height: 19px;
}

/* =======CTA END========== */

/* ======SERVICES START========= */
.service {
  padding: 20px;
  line-height: 26px;
}
.nav-tabs {
  border-bottom: none;
}
img.img-responsive {
  margin-top: 42px;
  border-radius: 20px;
}
.service .tabs ul li {
  margin: 5px;
}
.service .tabs ul li a {
  border: 3px solid #8830df;
  font-size: 20px;
  color: black;
}
.service .tabs ul li:hover a {
  background-color: #8830df;
  color: white;
}
.service .tabs ul li.active a {
  background-color: #8830df;
  color: white;
}
ul.content-list {
  position: relative;
  right: 20px;
}
.service h3 {
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 0;
}
.service p {
  color: gray;
  font-size: 15px;

  font-weight: 500;
  padding-top: 5px;
}
.service .content-list li {
  color: #5d6468;
  list-style: none;
}
.service .content-list li i {
  padding: 4px;
}
.service {
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
}
.service .row {
  background-color: whitesmoke;
}
@media (max-width: 760px) {
  .service .tabs ul li a {
    font-size: 15px;
    padding: 5px 5px;
  }
}
@media (max-width: 390px) {
  .service .tabs ul li a {
    font-size: 10px;
    padding: 3px 3px;
  }
}
